<article class="card">
    <div class="card-inner">
        <div class="card-front" style="background-image: url('<%= charity.logoUrl %>');">
        </div>
        <div class="card-back">
            <p> <%= charity.mission %>  </p>
            <a target="_blank" href="<%= charity.url %>">More Details</a>
        </div>
    </div>
</article>