<div class="logo-menu">
  <a href="/list"><i class="fa-solid fa-bars"></i></a>
  <a href="/"><h1>Charity Finder</h1></a>
</div>
<form action="/list/search" method="post" class="search-input-form">
  <input type="text" placeholder="TYPE AND HIT ENTER..." class="search-input" name="searchInput">
</form>
<div class="search">
  <a class="search-icon">
    <i class="fas fa-search"></i>
  </a>
  <a class="close-icon">
    <i class="fas fa-times"></i>
  </a>
</div>