<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %> 
    <title>Charity List</title>
</head>
<body>
    <header>
        <%- include("./partials/header.ejs")  %>
    </header>
    <main>
        <section class="title-a">
            <h2> <%= charity.name %>  </h2>
        </section>
        
    </main> 
</body>
</html>