<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head.ejs")  %> 
    <script defer src="/javascripts/slider.js"></script>
    <title>CHARITY FINDER | HOME</title>
  </head>
  <body>
    <header>
      <%- include("./partials/header.ejs")  %>
    </header>
    <main>
      <section class="slideshow-container">
        <div class="slides">
          
          
            <img src="images/donations-01.jpg" class="slide">
          
            <img src="images/soldier-kid.jpg" class="slide">
         
            <img src="images/donations-02.jpg" class="slide">
          
            
        </div>
        <a class="prev" id="prev">&#10094;</a>
        <a class="next" id="next">&#10095;</a>
      </section>
      <section class="card-container">
        <article>
          <h3>WHY CHOOSE <span class="green">US</span>.</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores tempora minus, nisi laudantium qui, perferendis suscipit eaque modi dolorum labore hic at veritatis distinctio accusantium, voluptatum error sint porro blanditiis?</p>
        </article>
        <article>
          <h3>OUR <span class="green">MISSION</span>.</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores tempora minus, nisi laudantium qui, perferendis suscipit eaque modi dolorum labore hic at veritatis distinctio accusantium, voluptatum error sint porro blanditiis?</p>
        </article>
        <article>
          <h3>WHAT WE <span class="green">DO</span>.</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores tempora minus, nisi laudantium qui, perferendis suscipit eaque modi dolorum labore hic at veritatis distinctio accusantium, voluptatum error sint porro blanditiis?</p>

        </article>
      </section>
    </main>
  </body>
</html>
